.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
  padding-bottom: 1em;
}

.radio-buttons {
  display: flex;
  justify-content: space-evenly;
}

button {
  width: 100%;
}

mat-spinner {
  margin: auto;
}
