<div class="wrapper">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <form [formGroup]="form" (submit)="onSubmit()" *ngIf="!isLoading">


      <mat-form-field>
        <mat-label>Service Name</mat-label>
        <input placeholder="Service Name" formControlName="title" matInput>
      </mat-form-field>
      <!-- TODO:
            -Configure the datepicker to not allow dates in the future.
      -->
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input placeholder="Price" formControlName="price" number matInput>
      </mat-form-field>


      <mat-label>Billing Cycle</mat-label>

      <mat-radio-group class="radio-buttons" aria-abel="How often do you pay?" formControlName="billingCycle">

        <mat-radio-button value="weekly">Weekly</mat-radio-button>
        <mat-radio-button value="monthly">Monthly</mat-radio-button>
        <mat-radio-button value="yearly">Yearly</mat-radio-button>
      </mat-radio-group>

      <hr>


      <mat-form-field appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-select formControlName="tags" multiple>
          <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">SUBMIT</button>

    </form>
  </mat-card>

</div>
