<mat-card class="wrapper">

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

    <mat-form-field>
      <input type="email" name="email" placeholder="Email Address" formControlName="email" required email matInput/>
    </mat-form-field>

    <mat-form-field>
      <input type="password" name="password" placeholder="Password" formControlName="password" required matInput>
    </mat-form-field>


    <button mat-raised-button color="accent" type="submit">Login</button>

  </form>
</mat-card>
