mat-toolbar {
  background-color: #673AB7 !important;
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;

  .header-main {
    font-size: large;
  }



  a {
    text-decoration: none;
    color: white;

    &:hover {}
  }

  button {
    &:hover {}
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
