.showcase {
  height: 60vh;
  background-color: #9C27B0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  text-align: center;

  .buttons {
    display: flex;
    justify-content: space-between;

    a {
      margin-right: 1em;
    }
  }

  .page-title {
    align-self: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    margin: 15px 5px;
  }

  .page-subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px;
  }
}


.feature-section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-content: center;

  .feature-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  .feature {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 0px;
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);


    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    i {
      font-size: 3.45rem;
      margin: 1rem 0;
    }

    fa-icon,
    h4 {
      color: #9E9E9E;
    }

    h4 {
      font-weight: 600;
      font-size: 1.3rem;
      margin: 1rem 0 0.6rem;
    }

  }

}

@media all and (max-width:900px) {
  .feature-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


@media (max-width: $screen-md-min) {
  .showcase {
    p {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}

@media (max-width: $screen-sm-min) {
  .showcase {
    p {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}
