<div class="hero">




  <div class="hero-content">
    <h1 class="page-title">Subscription Tracker</h1>
    <h2 class="page-subtitle">All in one application to track your subscriptions. </h2>
    <div class="buttons">
      <!-- <a mat-raised-button routerLink="/features">Features</a> -->
      <a mat-raised-button routerLink="/register" *ngIf="!userIsAuthenticated">Get Started</a>

    </div>
  </div>







</div>


<div class="feature-section">

  <div class="feature-list">

    <mat-card class="feature">
      <fa-icon [icon]="faTable" class="fa-5x"></fa-icon>
      <h4>Listed Data</h4>
      <p>View your complete subscription list in a tidy, easy to manage way.</p>
    </mat-card>

    <mat-card class="feature">
      <fa-icon [icon]="faCalendar" class="fa-5x"></fa-icon>
      <h4>Calendar View</h4>
      <p>View all your upcoming payments for the current month.</p>
    </mat-card>

    <mat-card class="feature">
      <fa-icon [icon]="faChartPie" class="fa-5x"></fa-icon>
      <h4>Statistics Display</h4>
      <p>View a break down of your spending habits and other data in graph form.</p>
    </mat-card>

  </div>
</div>
