.wrapper {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;

  h1,
  mat-spinner {
    margin: auto;
  }

  h1 {
    align-self: center;
  }

  .canvas-container {
    position: relative;
    height: 70vh;
    width: 100%;
  }
}

@media all and (max-width:800px) {
  .canvas-container {
    position: relative;
    height: 70vh !important;
    width: 90vw !important;
    margin-right: 2em !important;
    margin-left: 2em !important;
  }
}
